.textred {
  color: red;
  font-weight: bold;
}

.textgreen {
  color: green;
  font-weight: bold;
}

.nowrapText {
  word-break: break-word;
  /* or use normal if needed */
  white-space: normal;
}

div#container-com\.changemanagement---View1--dynamicPage-content {
  padding: 0;
}